<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Finansal_Takip__Uygulaması.Properties.Settings.finansal_takip_uygulamasiConnectionString"
            connectionString="Data Source=SUEDA\SQLEXPRESS;Initial Catalog=finansal_takip_uygulamasi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>